.navbar{
    .nav{
        margin-left: -15px;
        margin-right: -15px;
        height: 50px;
        background-color: crimson;
        ul{
            @include mid(true);
            justify-content: space-between;
            height: 100%;
            li{
                a{
                    text-decoration: none;
                    color: white;
                }
                &:first-child{
                    margin-left: 15px;
                }
                &:last-child{
                    margin-right: 15px;
                }
            }
        }
        .btnmenu{
            width: 40px;
            height: 22px;
            cursor: pointer;
            position: relative;
            display: none;
            z-index: 10;
            span{
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $white-cl;
                top: 50%;
                @include transform(translateY(-50%));
            }
            &::before{
                position: absolute;
                top: 0;
                content: "";
                width: 100%;
                height: 2px;
                display: block;
                background-color: $white-cl;
                @include transform(rotate(0deg) translateY(0px));
                @include transition($t);
            }
            &::after{
                position: absolute;
                bottom: 0;
                content: "";
                width: 100%;
                height: 2px;
                display: block;
                background: $white-cl;
                @include transform (rotate(0deg) translateY(0px));
                @include transition($t);
            }
            &.active{
                span{
                    height: 0px;
                }
                &::before{
                    @include transform(rotate(-50deg) translate(-6px,7px))
                }
                &::after{
                    @include transform(rotate(43deg) translate(-6px,-9px))
                }
            }
        }
    }
}
@include xs{
    .navbar{
        .nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul{
                li{
                    display: none;
                    &:first-child{
                        display: block;
                    }
                }
            }
            .btnmenu{
                display: block;
                right: 15px;
            }
        }
    }
}
.backgroundxs{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: papayawhip;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    @include transition($t);
    ul{
        @include mid(true);
        flex-direction: column;
        li{
            padding: 20px 0;
            a{
                text-decoration: none;
                color: green;
                font-weight: bold;
            }
        }
    }
    &.active{
        opacity: 1;
        visibility: visible;
        overflow: hidden;
        @include transition($t);
    }
}
.products{
    padding-top: 20px;
    @include transition($t);
    .container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    &__item{
        -webkit-box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.19); 
        box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.19);
        background-color: white;
        position: relative;
        &::before{
            position: absolute;
            content: 'New';
            font-weight: bold;
            border: 2px solid green;
            border-radius: 20px;
            padding: 0px 10px;
            right: 10%;
            top: 10%;
            z-index: 20;
            color: green;
        }
        &-img{
            position: relative;
            overflow: hidden;
            padding-bottom: 255px;
            img{
                // width: 100%;
                // height: 100%;
                filter: drop-shadow(0 0 0.75rem rgb(157, 233, 157));
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%,-50%) scale(0.9));
                @include transition($t);
                position: absolute;
                &:hover{
                    @include transform(translate(-50%,-50%) scale(1));
                    @include transition($t);
                }
            }
        }
        &-content{
            color: green;
            text-align: center;
            span{
                color: red;
            }
        }
        &:hover{
            cursor: pointer;
        }
    }
    &.active{
        display: none;
        @include transition($t);

    }
}
@include sm{
    .products{
        padding-top: unset;
        .container{
            grid-template-columns: repeat(2,1fr);
        }
    }
}
@include xs{
    .products{
        .container{
            grid-template-columns: repeat(1,1fr);
        }
        &__item{
            &-img{
                img{
                    width: 200px;
                    min-width: 70%;
                }
            }
        }
    }
}